<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #546e7a;
            font-family: Arial, sans-serif;
            height: 100vh;
            font-size: clamp(1.5rem, 8vw, 5rem);
            color: white;
            margin: 0;
        }

        main {
            text-align: center;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }

        button {
            background: white;
            color: black;
            border: none;
            padding: 1rem 2rem;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 5px;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

<main>
    <h1>{{ app_name }}</h1>

    <div class="buttons">
        <a href="/api/v1/documentation">
            <button>View API Documentation</button>
        </a>

        <a href="http://localhost:8025/">
            <button>View Mails</button>
        </a>
    </div>
</main>

</body>
</html>